# Supabase Configuration
VITE_SUPABASE_URL="https://xirqfkwxyopjhpzldlur.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpcnFma3d4eW9wamhwemxkbHVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4ODc3NjYsImV4cCI6MjEwNTQ2Mzc2Nn0.ms9GgT2wnFgkLgyipYkwDIzNpVjdLIRONhKtQfPcXPY"

# Manual UPI Payment Details
VITE_UPI_ID="printlab3d@okhdfcbank"
VITE_BUSINESS_NAME="PRINTLAB 3D"

# Cloudinary Image Storage & Management
CLOUDINARY_CLOUD_NAME=jushiok7
CLOUDINARY_API_KEY=873981713524356
CLOUDINARY_API_SECRET=17qkUtU1PH-KRltAlsMOIC8KCdw
CLOUDINARY_URL=cloudinary://873981713524356:17qkUtU1PH-KRltAlsMOIC8KCdw@jushiok7
